site_name: APIFlask
site_description: A lightweight Python web API framework.
site_url: https://apiflask.com
docs_dir: docs_zh
theme:
  name: material
  custom_dir: docs_zh/_templates
  logo: _assets/white-logo.png
  favicon: _assets/favicon.png
  palette:
    primary: deep orange
  icon:
    repo: fontawesome/brands/github
  language: zh
repo_url: https://github.com/apiflask/apiflask
repo_name: apiflask/apiflask
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/apiflask/apiflask
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/apiflask
  alternate:
    - name: 简体中文
      link: https://zh.apiflask.com
      lang: zh
copyright: Copyright &copy; 2021 <a href="https://greyli.com/en" target="_blank" rel="noopener">Grey Li</a>
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.tabbed
  - pymdownx.superfences
  - pymdownx.snippets
  - pymdownx.progressbar
  - attr_list
  - toc:
        permalink: True
        slugify: !!python/name:pymdownx.slugs.uslugify
nav:
  - 主页: index.md
  - 文档索引: docs.md
  - 从 Flask 迁移: migrating.md
  - 基本用法: usage.md
  - 请求处理: request.md
  - 响应格式化: response.md
  - 数据 Schema: schema.md
  - 安全认证: authentication.md
  - OpenAPI 生成: openapi.md
  - API 文档: api-docs.md
  - 配置: configuration.md
  - 错误处理: error-handling.md
  - 示例程序: examples.md
  - API 参考:
    - APIFlask: api/app.md
    - APIBlueprint: api/blueprint.md
    - Exceptions: api/exceptions.md
    - OpenAPI: api/openapi.md
    - Schemas: api/schemas.md
    - Fields: api/fields.md
    - Validators: api/validators.md
    - Route: api/route.md
    - Security: api/security.md
    - Helpers: api/helpers.md
    - Commands: api/commands.md
  - 对比和动机: comparison.md
  - 作者: authors.md
  - 变更日志: changelog.md
  - 贡献指南: contributing.md
plugins:
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          rendering:
            heading_level: 2
      watch:
        - src/apiflask
        - README.md
        - examples/README.md
        - CHANGES.md
        - CONTRIBUTING.md
extra_css:
  - _assets/extra.css
